:root {

  /* FONTS */


  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;


  /* TEXT COLORS */


  --primary-text-cl: #2E2F42;
  /* NAVY-BLUE */
  --secondary-txt-cl: #434455;
  /* SLATE */
  --logo-dark-txt-cl: #2E2F42;
  /* NAVY-BLUE */
  --contact-txt-cl: #434455;
  /* SLATE */
  --text-subtle-color: #8e8f99;
  /* LIGHT SLATE */


  --accent-txt-bg-cl: #404BBF;
  /* OCEAN */
  --blue-txt-cl: #4D5AE5;
  /* IRIS */
  --logo-blue-txt-cl: #4D5AE5;
  /* IRIS */



  --hero-main-txt-cl: #FFFFFF;
  /* WHITE- */
  --light-primary-text-cl: #FFFFFF;
  /* WHITE- */
  --footer-logo-light-txt-cl: #F4F4FD;
  /* CLOUD */
  --footer-light-txt-cl: #E7E9FC;
  /* CORNFLOWER */

  --black-txt-cl: #000000;
  /* BLACK- */



  /* BACKGROUND COLORS */



  --main-bg-cl: #FFFFFF;
  /* WHITE- */
  --hero-footer-bg-cl: #2E2F42;
  /* NAVY-BLUE */
  --blue-button-bg-cl: #4D5AE5;
  /* IRIS */
  --portfolio-filter-button-bg-cl: #F4F4FD;
  /* CLOUD */
  --our-tem-bg-cl: #F4F4FD;
  /* CLOUD */
  --green-bg-cl: #31D0AA;
  /* GREEN- */


  /* MODAL */

  --modal-bg-cl: rgba(46, 47, 66, 0.4);
  --modal-window-bg-cl: #FCFCFC;




  /* BORDER COLORS */


  --light-slate-border-cl: #8E8F99;
  /* LIGHT SLATE*/
  --borders-light-cl: #E7E9FC;
  /* CORNFLOWER */
  --portfolio-filter-btn-borders: #E7E9FC;
  /* CORNFLOWER */



  /* GAPS */

  --card-col-gap: 24px;
  --card-row-gap: 48px;



  /* OTHER */

  --transition-anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 72px;
  --indent-x: 24px;
  --items: 2;


}


/* Base styles */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--secondary-txt-cl);
  font-size: 16px;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}



/* Reset start */



img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;

}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}


/**
  |==============================================================================|
  |                         Reset End | Utility
  |==============================================================================|
**/


/* 320px <=phone screen <=infinity */
.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}



/* 768px <=tablet screen <=infinity */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* 1200px <=desktop screen <=infinity */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}


.title {

  margin-bottom: 72px;
  color: var(--primary-text-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
}

.subtitle-card {
  margin-bottom: 8px;
  color: var(--primary-text-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  margin-bottom: 8px;
  color: var(--primary-text-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.text-card {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .text {
    font-weight: 400;
  }
}

.text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}


/* Normal state */


.btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-family: var(--main-font);
  cursor: pointer;
}



.centered {
  margin-right: auto;
  margin-left: auto;
}








/**
  |==============================================================================|
  |                                   HEADER
  |==============================================================================|
**/

.social-list {
  display: flex;
  gap: 25px;
}

@media screen and (min-width: 428px) {
  .social-list {

    gap: 56px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  /* MOBILE MENU */



  .menu-toggle {
    line-height: 0;
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--light-primary-text-cl);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: transform var(--transition-anim-fast);
    transform: translateX(100%);
  }

  .menu-container.is-open {

    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--portfolio-filter-btn-borders);
    color: var(--black-txt-cl);
    transition: color var(--transition-anim-fast), background-color var(--transition-anim-fast),
      border-color var(--transition-anim-fast);
  }

  .menu-toggle-icon {
    fill: currentColor;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding-bottom: 284px; */
    margin-bottom: auto;
  }

  .mobile-link {
    color: var(--hero-footer-bg-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-link.current {
    color: var(--accent-txt-bg-cl);
  }

  .mobile-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }

  .link-tel {
    color: var(--blue-button-bg-cl);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }

  .link-mail {
    color: var(--contact-txt-cl);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }



  .menu-container .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue-button-bg-cl);

    transition: background-color var(--transition-anim-fast);
  }

  .menu-container .social-link:hover,
  .menu-container .social-link:focus {
    background-color: var(--accent-txt-bg-cl);
  }

  .menu-container .social-icon {
    fill: var(--footer-logo-light-txt-cl);
  }

}


/* MAIN HEADER */



.page-header {
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid var(--portfolio-filter-btn-borders);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;
}


.logo {

  color: var(--hero-footer-bg-cl);
  font-weight: 800;
  font-size: 18px;

  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}




.header-logo-accent {
  color: var(--blue-txt-cl);
}


/* Header Nav */




@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .menu-container {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-link {
    position: relative;
    display: block;
    color: var(--logo-dark-txt-cl);

    font-weight: 500;
    line-height: 1.5;

    transition: color var(--transition-dur-func);
  }

  .header-nav-link.current {
    color: var(--accent-txt-bg-cl);
  }

  .header-nav-link.current::after {
    content: '';

    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;

    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-txt-bg-cl);
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .header-contacts-link {
    display: block;
    color: var(--contact-txt-cl);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    transition: color var(--transition-anim-fast);
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: var(--accent-txt-bg-cl);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }

  .header-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}



/**
  |==============================================================================|
  |                                 MAIN INDEX
  |==============================================================================|
**/


/* HERO section */



.hero__wrap {
  display: flex;
  flex-direction: column;
  gap: var(--indent);
  align-items: center;
}



.btn-hero {
  display: flex;
  margin-top: 48px;
  padding: 16px 32px;
  background-color: var(--blue-txt-cl);
  color: var(--hero-main-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-anim-fast), box-shadow var(--transition-anim-fast);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--accent-txt-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}




.hero {


  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--hero-footer-bg-cl);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 320px;
  color: var(--hero-main-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40/36);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}




@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-mobile@2x.png);
  }
}



@media screen and (min-width: 768px) {
  .hero {
    height: 436px;

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-tablet.png);

  }


  .hero-title {
    max-width: 500px;
    margin: 0 auto;
    font-size: 56px;
    line-height: calc(60/56);


  }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-tablet@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-desktop.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-desktop@2x.png);
  }
}






/* SKILLS SECTION */



.skills-list {
  display: flex;
  flex-direction: column;
  gap: var(--indent);
}

.skills .subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.skills .text {
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--indent) var(--indent-x);
  }

  .skills-item {
    flex-basis: calc((100% - (var(--items) - 1) * var(--indent-x)) / var(--items));
  }

  .skills .subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .skills-list {
    gap: var(--indent-x);
    justify-content: center;
  }

  .skills-item {
    --items: 4;
    flex-basis: calc((100% - (var(--items) - 1) * var(--indent-x)) / var(--items));
  }



  .skills .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .skills .text {
    font-weight: 400;
    line-height: 1.5;
  }

  .icon-antenna::before {
    content: '';
    display: inline-block;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--footer-logo-light-txt-cl);
    background-image: url(../images/skills/antenna-1.svg);
    background-position: center;
    background-repeat: no-repeat;

  }

  .icon-clock::before {
    content: '';
    display: inline-block;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--footer-logo-light-txt-cl);
    background-image: url(../images/skills/clock-2.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-diagram::before {
    content: '';
    display: inline-block;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--footer-logo-light-txt-cl);
    background-image: url(../images/skills/diagram-3.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-astronaut::before {
    content: '';
    display: inline-block;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--footer-logo-light-txt-cl);
    background-image: url(../images/skills/astronaut-4.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}







/* WHAT ARE WE DOING SECTION */

@media screen and (max-width: 1199px) {
  .app {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .app {
    padding-top: 0;
  }

  .app-list {
    display: flex;
    gap: var(--indent-x);
    justify-content: center;
  }
}

/* TEAM section */

.team {
  background-color: var(--portfolio-filter-button-bg-cl);
}

.team .container {
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: var(--indent);
  align-items: center;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 16px;
}

.team-content .text {
  margin-bottom: 8px;
}

/* Socials links */


.socials {
  display: flex;
  justify-content: space-between;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--blue-button-bg-cl);

  transition: background-color var(--transition-anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-txt-bg-cl);
}

.socials-icon {
  fill: var(--footer-logo-light-txt-cl);
}

@media screen and (min-width: 768px) {
  .team-list {
    --indent: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--indent) var(--indent-x);
    justify-content: center;
  }
}




/**
  |==============================================================================|
  |                               CUSTOMERS section
  |==============================================================================|
**/


.customers-list {


  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
  padding: 0px;

}




.customers-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--text-subtle-color);

  transition: color var(--transition-anim-fast);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-txt-bg-cl);
}

.customers-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer-list {
    row-gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .customer-list {
    row-gap: 72px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}



/**
  |==============================================================================|
  |                                 PORTFOLIO
  |==============================================================================|
**/


/* Portfolio Overlay */

.card-thumb {
  position: relative;
  overflow: hidden;
}



.card-overlay-text {

  position: absolute;

  top: 0;
  left: 0;
  overflow: auto;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
  background-color: var(--blue-txt-cl);
  color: var(--footer-logo-light-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}



.portfolio-list-link:hover .card-overlay-text {

  transform: translateY(0);
}


/* Rest of Portfolio */


.portfolio-filter {
  padding-top: 96px;
  padding-bottom: 72px;

}

.btn-portfolio {
  border: 1px solid var(--borders-light-cl);
  background-color: var(--portfolio-filter-button-bg-cl);
  color: var(--blue-txt-cl);

  transition: color var(--transition-anim-fast), background-color var(--transition-anim-fast),
    border-color var(--transition-anim-fast), box-shadow var(--transition-anim-fast);
}

.btn-portfolio.current,
.btn-portfolio:hover,
.btn-portfolio:focus {
  border-color: var(--accent-txt-bg-cl);
  background-color: var(--accent-txt-bg-cl);
  color: var(--portfolio-filter-button-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-nav>.item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-row-gap));
  margin-left: calc(-1 * var(--card-col-gap));
}

.portfolio-cards>.item {
  flex-basis: calc(100% / 3 - var(--card-col-gap));
  margin-top: var(--card-row-gap);
  margin-left: var(--card-col-gap);
}

.portfolio-cards .card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--borders-light-cl);
  border-top: 0;
}

.portfolio-list-link {
  display: block;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-anim-fast);

}


.portfolio-list-link:hover,
.portfolio-list-link:focus {

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}


/**
  |==============================================================================|
  |                                    FOOTER
  |==============================================================================|
**/



.footer-logo-accent {
  color: var(--blue-txt-cl);
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--hero-footer-bg-cl);
  color: var(--footer-light-txt-cl);
}

.container.footer-wrap {
  display: flex;
  flex-flow: column;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.footer-wrap {
    flex-flow: wrap;
    row-gap: 72px;
    align-items: baseline;
    width: 532px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer-wrap {
    flex-flow: row;
    text-align: start;
  }
}



.page-footer .logo {
  display: block;
  margin-right: 0;


  color: var(--footer-logo-light-txt-cl);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.text-footer {
  max-width: 264px;
  margin: 0 auto;
  margin-top: 16px;
  color: var(--color-for-footer-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer-Social */

@media screen and (max-width: 767px) {
  .footer-social-side {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-side {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-side {
    margin-right: 80px;
    margin-left: 120px;
  }
}

.footer-social-side>.footer-social-text {
  margin-bottom: 16px;
  color: var(--light-primary-text-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}



.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 8px;
}

.footer-social-list-link {
  display: block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-anim-fast);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--green-bg-cl);

}

.footer-social-list-icon {
  width: 24px;
  height: 24px;
  margin: 8px;

  fill: var(--borders-light-cl);

}

/* Footer-Subscribe */

.footer-sbc-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.footer-sbc-text {

  margin-bottom: 16px;
  color: var(--light-primary-text-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-sbc-form {
  display: flex;
  flex-direction: column;
}



.sbc-form-input {


  width: 264px;
  height: 40px;
  padding: 8px 0 8px 16px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-footer-bg-cl);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color var(--transition-anim-fast);

}



@media screen and (max-width: 767px) {
  .sbc-form-input {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}


.sbc-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sbc-form-input:focus {
  border-color: var(--light-primary-text-cl);
  outline: none;
}

.sbc-form-btn {
  display: flex;
  gap: 16px;
  align-items: center;

  align-self: center;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: var(--blue-button-bg-cl);
  color: var(--light-primary-text-cl);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--transition-anim-fast);
}

.sbc-form-btn:focus,
.sbc-form-btn:hover {
  background-color: var(--accent-txt-bg-cl);
}

.subscribe-form-btn-icon {
  fill: currentColor;
}




@media screen and (min-width: 768px) {


  .footer-sbc-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .sbc-form-input {
    width: 264px;
  }

  .sbc-form-btn {
    margin: 0;
  }
}



/**
  |==============================================================================|
  |                                  Modal window
  |==============================================================================|
**/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-cl);
  transition: opacity var(--transition-anim-fast), visibility var(--transition-anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;

}

.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  background-color: var(--modal-window-bg-cl);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(-50%);



}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-radius: 50%;
  background-color: var(--footer-light-txt-cl);
  color: var(--black-txt-cl);
  transition: color var(--transition-anim-fast), background-color var(--transition-anim-fast),
    border-color var(--transition-anim-fast);

}

.modal-btn:hover,
.modal-btn:focus {
  border-color: transparent;
  background-color: var(--accent-txt-bg-cl);
  color: var(--light-primary-text-cl);
}

.modal-close-icon {
  fill: currentColor;
}



/* forms and checkbox */


.modal-form-text {
  margin-bottom: 16px;
  color: var(--primary-text-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-comment-field {
  margin-bottom: 16px;
}


.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;

  color: var(--text-subtle-color);
}

.modal-form-thumb {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text-dark-color);

  transition: border-color var(--transition-anim-fast);
}

.modal-form-input:focus {
  border-color: var(--blue-button-bg-cl);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  fill: var(--logo-dark-txt-cl);

  transition: fill var(--transition-anim-fast);
  transform: translateY(-50%);
}

.modal-form-input:focus+.modal-form-icon {
  fill: var(--blue-txt-cl);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--logo-dark-txt-cl);

  resize: none;

  transition: border-color var(--transition-anim-fast);
}

.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  border-color: var(--blue-button-bg-cl);
  outline: none;
}



.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 24px;
  color: #757575;
}



.checkbox-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: auto;
  padding-right: 10px;

  background-image: url(../images/icons/click-off.svg);

  transition: background-image var(--transition-anim-fast);
}

.modal-form-checkbox:checked+.checkbox-icon {
  border-color: var(--accent-txt-bg-cl);
  border-radius: 2px;
  background-color: var(--accent-txt-bg-cl);
  background-image: url(../images/icons/click-on.svg);

}




.modal-form-link {
  padding-left: 4px;
  color: var(--logo-blue-txt-cl);
}

.modal-form-submit-btn {
  align-self: center;
  width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--logo-blue-txt-cl);
  color: var(--light-primary-text-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--transition-anim-fast);
}

.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus {
  background-color: var(--accent-txt-bg-cl);
}